/* KEY POSITIONS (using keypos_def helpers)
╭─────────────────────┬─────────────────────╮
│ LT0 LT1 LT2 LT3 LT4 │ RT0 RT1 RT2 RT3 RT4 │
│ LM0 LM1 LM2 LM3 LM4 │ RM0 RM1 RM2 RM3 RM4 │
│ LB0 LB1 LB2 LB3 LB4 │ RB0 RB1 RB2 RB3 RB4 │
│ LH0 LH1 LH2 LH3 LH4 │ RH0 RH1 RH2 RH3 RH4 │
╰─────────────────────┴─────────────────────╯    

        compatible = "zmk,combos";
        combo_q {
            timeout-ms = <50>;
            key-positions = <2 3>;
            bindings = <&kp Q>;
        }*/

#define COMBO(NAME, BINDINGS, KEYPOS, TERM) \
    combo_##NAME { \
        timeout-ms = <TERM>; \
        bindings = <BINDINGS>; \
        key-positions = <KEYPOS>; \
    };

/ {
    combos {
        compatible = "zmk,combos";

COMBO(q,      &kp Q,       LT0 LT1, 50)
COMBO(b,      &kp B,       LT1 LT2, 50)
COMBO(j,      &kp J,       LT2 LT3, 50)
COMBO(bspc,   &kp BSPC,    LT3 LT4, 50)
COMBO(v,      &kp V,       LM0 LM1, 50)
COMBO(p,      &kp P,       LM1 LM2, 50)
COMBO(k,      &kp K,       LM2 LM3, 50)
COMBO(excl,   &kp EXCL,    LM3 LM4, 50)
COMBO(z,      &kp Z,       LB2 LB3, 50)
COMBO(x,      &kp X,       LB3 LB4, 50)
COMBO(qmark,  &kp QMARK,   RB1 RB2, 50)
    };
};
